<div class="d-flex justify-content-between align-items-center py-2">
  <div class="">
    <h1>Want to Add A Transaction</h1>
  </div>
  <div class="">
    <%= link_to 'Income' ,transaction_create_income_path, class:"r-link"%> <%=
    link_to 'Bank Transfer' ,transaction_create_bankTransfer_path,
    class:"r-link"%> <%= link_to 'Expense' , transaction_create_expense_path ,
    class:"r-link"%>
  </div>
</div>

<ul class="nav nav-pills nav-justified align-items-center">
  <li
    class="nav-item btn btn-primary"
    data-controller="hello"
    data-action="click->hello#Tabs"
    data-hello-value="Income"
  >
    Income
  </li>
  <li
    class="nav-item btn-primary"
    data-controller="hello"
    data-action="click->hello#Tabs"
    data-hello-value="Bank-Transfer"
  >
    Bank Transfer
  </li>
  <li
    class="nav-item btn-primary"
    data-controller="hello"
    data-action="click->hello#Tabs"
    data-hello-value="Expense"
  >
    Expense
  </li>
</ul>

<div id="Income"><%= render(IncomeComponent.new(user:current_user)) %></div>
<div id="Bank-Transfer" style="display: none">
  <%= render(BanktransferComponent.new(user:current_user)) %>
</div>
<div id="Expense" style="display: none">
  <%= render(ExpenseComponent.new(user:current_user)) %>
</div>
