<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
    <%if notice%>
    <script>
      alert('<%= notice%>');
    </script>
    <%end%>
    <%if alert%>
    <%- flash.keys.each do |flash_key| %>
    <%- next if flash_key.to_s == 'timedout' %>
      <%= flash.discard(flash_key) %>
    <%- end %>
    <%end%>
    <% if current_user%>
    <%= render partial: 'layouts/navbar'%>
    <%end%>
    <div class="container">
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
