<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
    <%if notice%>
    <script>
      alert('<%= notice%>');
    </script>
    <%end%>
    <% if flash[:alert].is_a?(Hash) %>
        <% flash[:alert].each do |key, value| %>
          <strong><%= key.humanize %>:</strong>
          <% if value.is_a?(Array) %>
            <ul>
              <% value.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% else %>
            <%= value %>
          <% end %>
        <% end %>
    <% elsif flash[:alert] %>
        <p><%= flash[:alert] %></p>
    <% end %>
    <% if current_user%>
    <%= render partial: 'layouts/navbar'%>
    <%end%>
    <div class="container">
      <%= yield %>
    </div>
      <%= render partial: 'layouts/footer' %>
  </body>
</html>
